<h2>About</h2>
<blockquote>
  <em>
    <p><%= t("about_page.paragraph") %>
    </p>
  </em></br>  
</blockquote>
<p>[*]In Shklovsky, Viktor, Literature and Cinematography, 1905, p 43.</p>


<div class=portrait>
  <%= link_to image_tag("Sklovsky.jpg", :title => "Viktor Shklovsky"), "http://en.wikipedia.org/wiki/Viktor_Shklovsky", :target => "_blank"  %>
</div>


<p>Filmwerkplaats'plot machine is inspired by Sklovsky's comment. It aims at classifying 16mm film fragments handfully picked from the film archive of Filmwerkplaats, Rotterdam. Through programming, the foundations for an online taxonomic system are explored. This project is a preliminary sketch for this plot machine that instead of beeing spun is generated automatically on this Rails application to perhaps generate
different meanings each time a tag is clicked.</p>