<h2>About</h2>
<blockquote>
  <em>
    <p>In 1917 someone published a carefully researched article which reported
that
screenwriters, exhausted by work, had concocted a machine that produced
plots.Imagine a row of films wound on special spools. One of the reels contains
people’s professions, the second one- countries of the world, the third
one-various ages, the fourth one-human acts (for example kissing, climbing
a pipe, knocking someone down, jumping into the water, shooting). A person
takes hold of this crank and spins them.
Then he peers through a special slot and reads the resulting gibberish.
The machine is rather strange, but apparently it gives American the jolt
they require [*].
    </p>
  </em></br>  
<p>[*]In Shklovsky, Viktor, Literature and Cinematography, 1905, p 43.</p>


</blockquote>


<div class=portrait>
  <%= image_tag "Sklovsky.jpg", alt: "Viktor Sklovsky" %>
</div>


<p>Filmwerkplaats'plot machine is inspired by Sklovsky's comment. It aims at classifying 16mm film fragments handfully picked from the film archive of Filmwerkplaats, Rotterdam. Through programming, the foundations for an online taxonomic system are explored. This project is a preliminary sketch for this plot machine that instead of beeing spun is generated automatically on this Rails application to perhaps generate
different meanings each time a tag is clicked.</p>